.panel.round {

}

.white {
//  TODO color: #ff ffff;
}

.pull-justify {
  text-align: justify !important;
}

.delay-status {
  text-align: center;
}

.amber {
  background-color: orange;
  border-color: orangered;
  color: darkorange;
  transition: orange 300ms ease-out;
  .button:hover, .button:focus, .button:hover, .button:focus {
    background-color: darkorange;
  }
}

h1.logo{
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  color: white;
  margin: 0 0 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.3em;
}

.column.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important; }

li.first, li.last {
  border-right: 2px solid black;
}

.carriage {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}