.panel.round {
//  TODO
}

.white {
//  TODO color: #ffffff;
}

.amber {
  background-color: orange;
  border-color: orangered;
  color: darkorange;

  li:hover {
//    TODO
    background-color: orange;
    border-color: orangered;
    color: darkorange;
  }

}