
<div class="row">
	<ul class="pricing-table">
	  <li class="title">Departing Station</li>
	  <li class="price"></li>
	  <li class="description">Enter Station Code or Station Name</li>
        <input type="text" id="searchbox" placeholder="WAT or Waterloo for London Waterloo" />
      
	  <li class="cta-button"><a class="button" href="#">Submit</a></li>
</div>

<%= js :departures %>