<ul class="pricing-table">
  <li class="title">Departing Station</li>
  <li class="price"></li>
  <li class="description">Enter Station Code or Station Name</li>
  <li class="cta-button"><a class="button" href="#">Buy Now</a></li>
</ul>