<br>

<div class="container">
	<% binding.pry %>
	<% @traindata.each do |train| %>
		<div class="row">
			<div class="row">
				<div class="small-6 medium-6 large-6 columns"><%= train['destination'].first['locationName'] %></div>
				<div class="small-6 medium-6 large-6 columns"><%= train['std'] %></div>
			</div>
			<div class="row">
				<%= generate_svg_train_view train['carriages'] %>	
			</div>
		</div>
	<% end %>
</div>