/* line 9, ../../scss/layout.scss */
.pull-justify {
  text-align: justify !important;
}

/* line 13, ../../scss/layout.scss */
.delay-status {
  text-align: center;
}

/* line 17, ../../scss/layout.scss */
.amber {
  background-color: orange;
  border-color: orangered;
  color: darkorange;
  transition: orange 300ms ease-out;
}
/* line 22, ../../scss/layout.scss */
.amber .button:hover, .amber .button:focus, .amber .button:hover, .amber .button:focus {
  background-color: darkorange;
}

/* line 27, ../../scss/layout.scss */
h1.logo {
  font-family: helvetica,arial,sans-serif;
  font-size: 12px;
  color: white;
  margin: 0 0 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.3em;
}

/* line 38, ../../scss/layout.scss */
.column.small-centered {
  margin-left: auto;
  margin-right: auto;
  float: none !important;
}

/* line 43, ../../scss/layout.scss */
li.first, li.last {
  border-right: 2px solid black;
}

/* line 47, ../../scss/layout.scss */
.carriage {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
